$menu: #4E4E4E;
$green: #57A4A4;
$comments: #7C7C7C;
$text: #5C5C5C;
$instagram-background: #f7f7f7;
$footer-p: #B9B9B9;
$footer-caption: #FEFEFE;
$black: #000000;
$white: #ffffff;
$menu-320: #F5F5F5;
$menu-hover-320: #E5E5E5;