.nav-links {
    @include flexCenter();
    text-align: center;
    flex-wrap: wrap;
    max-width: 95%;
    margin: 40px auto;

    & li a {
        @include flexCenter();
        @include roboto400();
        font-size: 11px;
        line-height: 22px;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        color: $menu;
        margin-right: 68px;
        text-decoration: none;
    }

    & li:first-child a {
        color: $green;
    }

    & li {
        list-style-type: none;
    }
}

.header img {
    display: flex;
    max-width: 100%;
    margin: 30px auto;
}