@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin roboto400 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

@mixin roboto700 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
}

@mixin icon {
    margin-right: 8px;
    border-radius: 50%;
    padding: 12px;
}