@import "colors";
@import "mixins";
@import "header";

* {
    margin: 0;
}

// OUR RECENT POSTS
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.wrapper {
    max-width: 95%;
    margin: 0 auto;
}

.mobile {
    display: none;
}

.before-posts {
    @include roboto700();
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $menu;
}

.our-posts {
    display: flex;
    flex-wrap: wrap;                                   
    margin: 32px auto;

    & img {
        margin-bottom: 30px;
    }
}

.flex {
    margin-left: 15px;
    width: 30%;
}

.post-caption {
    @include roboto700();
    font-size: 16px;
    line-height: 30px;
    color: $menu;
}

.comments {
    @include roboto400();
    font-size: 12px;
    line-height: 20px;
    color: $comments;
}

.post-text {
    @include roboto400();
    font-size: 14px;
    line-height: 26px;
    color: $text;
    margin-top: 5px;
}

// INSTAGRAM SECTION 
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.instagram-section {
    background: $instagram-background;
}

.instagram-caption {
    @include roboto700();
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $menu;
    padding: 16px 0;
    margin-right: auto;
}

.instagram-posts {
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.instagram-caption-mobile {
    max-width: 95%;
    margin: 0 auto 12px;
    @include roboto700();
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: $menu;
}

.right-header {
    @include roboto700();
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    color: $menu;
}

.instagram-flex {
    @include flexCenter();
    gap: 10px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.instagram-flex img {
    max-width: 23%;
}

// FOOTER 
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.footer {
    background: $black;
    padding-bottom: 50px;

    & p span {
        margin: 0 10px;
    }
}

#footer-p {
    @include roboto400();
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: $footer-p;
    width: 684px;
    margin: 22px auto 0;
}

.footer-caption {
    @include roboto700();
    text-align: center;
    padding-top: 66px;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: $footer-caption;
}

.icons-wrapper {
    @include flexCenter();
    margin-top: 42px;

    & a:nth-child(1) {
        @include icon();
        border: 2px solid #F8902E;
    }

    & a:nth-child(2) {
        @include icon();
        border: 2px solid #39599F;
    }

    & a:nth-child(3) {
        @include icon();
        border: 2px solid #45B0E3;
    }

    & a:nth-child(4) {
        @include icon();
        border: 2px solid #D97AB0;
    }

    & a:nth-child(5) {
        @include icon();
        border: 2px solid #CC212C;
    }

    & a:hover {
        background: $menu;
    }

}

.icon {
    @include flexCenter();

    & img {
        height: 10px;
        width: 10px;
    }
}

.contacts {
    @include roboto400();
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: $footer-p;
    margin-top: 30px;

    & a {
        text-decoration: none;
        color: $footer-p;
    }

    & a:hover {
        color: $green;
    }
}

// HAMBURGER MENU
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.hamburger {
    position: absolute;
    top: 2%;
    right: 0;
    margin-right: 2.5%;
    display: none;
    cursor: pointer;
    padding: 14px;
    background: $black;
}

.bar {
    display: block;
    width: 18px;
    height: 2px;
    margin: 2px auto;
    transition: all 0.3s linear;
    background: $white;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(4px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
}

// MEDIA 
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@media screen and (min-width: 1600px) {
    .flex {
        width: 38%;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
    .flex {
        width: 70%;
    }

    .nav-links li a {
        margin-right: 34px;
    }

    .instagram-flex img:last-child {
        display: none;
    }

    .instagram-flex img {
        max-width: 31%;
    }
}

@media screen and (min-width: 399px) and (max-width: 699px) {
    .flex {
    width: 52%;
}

.hamburger {
    display: block;
    margin-right: 1.3%;
}

.nav-links {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 22px 0;
    transform: translateX(100%);

    & a {
        min-width: 164px;
        padding: 2px 0 2px 10px;
        background: $menu-320;
    }

    & a:hover {
        background: $menu-hover-320;
    }

    & li a {
        justify-content: start;
        margin-right: 9px;
    }

}

.nav-links.active {
    display: block;
    position: absolute;
    transition: all 0.5s linear;
    transform: translateX(0);
}

.instagram-flex img:last-child {
    display: none;
}

.instagram-flex img {
    max-width: 31%;
}

.post-text {
    display: none;
}

.mobile {
    display: block;
}

.instagram-posts {
    display: none;
}

.footer-caption {
    font-size: 14px;
}

#footer-p {
    font-size: 12px;
    max-width: 90%;
}

.contacts {
    max-width: 60%;
    margin: 24px auto 10px;
    font-size: 14px;
    word-break: break-all;
}

}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .flex {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 95%;
        margin-left: 0;
    }

    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        padding: 22px 0;
        transform: translateX(100%);

        & a {
            min-width: 164px;
            padding: 2px 0 2px 10px;
            background: $menu-320;
        }

        & a:hover {
            background: $menu-hover-320;
        }

        & li a {
            justify-content: start;
            margin-right: 9px;
        }

    }

    .nav-links.active {
        display: block;
        position: absolute;
        transition: all 0.5s linear;
        transform: translateX(0);
    }

    .post-text {
        display: none;
    }

    .our-posts {
        justify-content: start;
        margin-top: 10px;

        & img {
            margin: 20px 0;
        }
    }

    .before-posts {
        padding: 0;
        font-size: 14px;
    }

    .comments {
        font-size: 11px;
    }

    .header img {
        max-width: 94%;
        margin: 80px auto 40px;
    }

    .hide-post {
        display: none;
    }

    .post-caption {
        font-size: 14px;
    }

    .mobile {
        display: block;
    }

    .instagram-posts {
        display: none;
    }

    .instagram-flex img:not(:first-child) {
        display: none;
    }

    .instagram-flex img {
        max-width: 100%;
    }

    .instagram-section {
        background: $white;
    }

    .footer-caption {
        font-size: 14px;
    }

    #footer-p {
        font-size: 12px;
        max-width: 90%;
    }

    .contacts {
        max-width: 60%;
        margin: 24px auto 10px;
        font-size: 14px;
        word-break: break-all;
    }
}